<div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        @if (_githubProjects is not null && _githubProjects.Any())
        {
            @foreach (var project in _githubProjects)
            {
                <div class="bg-[#161b22] border border-[#30363d] shadow rounded-lg p-4
                            hover:border-[#58a6ff]/50 transition-all duration-300 hover:shadow-xl hover:shadow-[#58a6ff]/10
                            transform scale-100 hover:scale-105"
                     @onclick="() => NavigateToProjectDetails(project.Id)">
                    <div class="w-full">
                        <div class="mb-1">
                            <span class="text-lg font-bold text-[#58a6ff]">@project.Name</span>
                        </div>
                        <p class="text-gray-400 text-sm">@project.Description</p>

                        <div class="flex flex-wrap gap-2 text-xs text-[#58a6ff] my-4">
                            @if (project.Topics.Any())
                            {
                                foreach (var topic in project.Topics.Where(s => !s.Equals("show", StringComparison.OrdinalIgnoreCase)))
                                {
                                    <span class="bg-[#121D2F] rounded-full px-2 py-1">@topic</span>
                                }
                            }
                        </div>

                        <div class="flex items-center text-xs text-gray-500 my-2 space-x-4">
                            <span class="flex items-center">
                                <span class="w-2.5 h-2.5 rounded-full mr-1"
                                      style="background-color:@project.Language.GetLanguageBackgroundColor()"></span>
                                @project.Language
                            </span>
                            @if (project.StargazersCount > 0)
                            {
                                <span class="flex items-center text-sm text-gray-500">
                                    <svg class="w-4 h-4 text-yellow-500 mr-1" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"></path>
                                    </svg>
                                    <span>@project.StargazersCount</span>
                                </span>
                            }
                            <span>Updated <relative-time datetime="2024-12-21T12:55:36Z">@project.UpdatedAt.GetTimeAgo()</relative-time></span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @for (int i = 0; i < 5; i++)
            {
                <div class="bg-[#161b22] border border-[#30363d] shadow rounded-lg p-4 animate-pulse">
                    <div class="w-full">
                        <div class="mb-1">
                            <div class="h-5 bg-[#30363d] rounded w-3/4 mb-2"></div>
                            <div class="h-4 bg-[#30363d] rounded w-1/2"></div>
                        </div>
                        <p class="h-4 bg-[#30363d] rounded w-full mb-4"></p>
                        <div class="flex flex-wrap gap-2 my-4">
                            <span class="h-6 bg-[#30363d] rounded w-10"></span>
                            <span class="h-6 bg-[#30363d] rounded w-12"></span>
                            <span class="h-6 bg-[#30363d] rounded w-8"></span>
                        </div>
                        <div class="flex items-center text-xs text-gray-500 my-2 space-x-4">
                            <span class="flex items-center">
                                <span class="w-2.5 h-2.5 rounded-full mr-1 bg-[#30363d]"></span>
                                <span class="h-4 bg-[#30363d] rounded w-10"></span>
                            </span>
                            <span class="flex items-center text-sm text-gray-500">
                                <svg class="w-4 h-4 text-[#30363d] mr-1" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z"></path>
                                </svg>
                                <span class="h-4 bg-[#30363d] rounded w-6"></span>
                            </span>
                            <span class="h-4 bg-[#30363d] rounded w-20"></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
